@tailwind base;
@tailwind components;
@tailwind utilities;

.main-font {
  font-family: var(--font-montserrat);
}

.sub-font {
  font-family: var(--font-farsan);
}

.bg-primary {
  background: #fff;
}


 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: #000000;
    --primary-foreground: 0 0% 98%;

    --secondary: #483055;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: #bb99ce;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.nav-bg {
  background: #bb99ce;
}

.hero-bg {
  background: linear-gradient(45deg, rgb(72, 48, 85)  40%, rgb(93, 64, 109) 90%);
}

.slice-bg {
  background: linear-gradient(45deg, rgb(72, 48, 85)  70%, rgb(127, 85, 150) 60%);
}

.bg-gradient {
  background: linear-gradient(to top, rgb(253, 248, 255)  40%, rgb(228, 177, 255) 90%);
}


.teambg-gradient {
  background: linear-gradient(to top, rgb(230, 197, 248) 40%, rgb(253, 248, 255) 90%);
}



.card-one-bg {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.845),
      rgba(0, 0, 0, 0)), url('/65315aaf63b3356da7da65f3_Clinicians.webp');
    background-size: cover;
    background-position: center;
}
.card-two-bg {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.845),
      rgba(0, 0, 0, 0)), url('/65315e9d17c4d1403fd7c820_Enterprise-p-500.webp');
    background-size: cover;
    background-position: center;
}
.card-three-bg {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.845),
        rgba(0, 0, 0, 0)), url('/65315eb0c1600dabd7b88c1e_Patients-p-500.webp');
    background-size: cover;
    background-position: center;
}

.mission-bg {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.744),
        rgba(0, 0, 0, 0.765)), url('/6539418406f646c0a184e3dc_Humanity Mobile image.webp');
    background-size: cover;
    background-position: center;
}

.team-card {
  cursor: pointer;
}

.team-card:hover .hidden-content {
  transform: translateY(0);
  transition: 0.2s all ease-in;
}

.hidden-content {
  transform: translateY(-100%);
  transition: 0.1s all ease-in;
}