@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.card-one-bg {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.845),
      rgba(0, 0, 0, 0)), url('/65315aaf63b3356da7da65f3_Clinicians.webp');
    background-size: cover;
    background-position: center;
}
.card-two-bg {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.845),
      rgba(0, 0, 0, 0)), url('/65315e9d17c4d1403fd7c820_Enterprise-p-500.webp');
    background-size: cover;
    background-position: center;
}
.card-three-bg {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.845),
        rgba(0, 0, 0, 0)), url('/65315eb0c1600dabd7b88c1e_Patients-p-500.webp');
    background-size: cover;
    background-position: center;
}

.mission-bg {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.744),
        rgba(0, 0, 0, 0.765)), url('/6539418406f646c0a184e3dc_Humanity Mobile image.webp');
    background-size: cover;
    background-position: center;
}

.team-card {
  cursor: pointer;
}

.team-card:hover .hidden-content {
  transform: translateY(0);
  transition: 0.2s all ease-in;
}

.hidden-content {
  transform: translateY(-100%);
  transition: 0.1s all ease-in;
}